
  
#gallery-container{
    position: relative;
    overflow: hidden;
    height: 350px;
    border: solid 2px purple;

}


.content{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 2px white, inset 2px 2px grey;
    padding: 5px;
    }


.generic-button {
    border: none;
    background-color: lightgray;
    box-shadow: 2px 2px gray, inset 2px 2px white;
  }


  .head{
    padding: 2px;
    font-size: small;
    font-weight: bold;
    background: linear-gradient(90deg, rgba(5,0,95,1) 0%, rgba(23,23,151,1) 51%, rgba(120,167,237,1) 100%);
    color: antiquewhite;
    display: flex;
    justify-content: space-between;

    }

#gallery-frame{
    position: absolute;
    width: 100%;
    height: 100%;
    border: solid 2px red;
}

.window {
    display: flex;
    flex-direction: column;
    border: none;
    margin: 10px;
    padding: 5px;
    background-color: gainsboro;
    box-shadow: 2px 2px gray, inset 2px 2px white;
  }


  